
<div class="containter" *ngIf = "fraude">
    <div class="alert alert-danger text-center" role="alert">
        Hubo un intento de fraude!
      </div>
</div>
<div class="container alert alert-primary alert-dismissible fade show my-5">
    <h4 class="alert-heading">¿Como conseguir el código?</h4>
    Esta herramienta le brinda la capacidad de mirar detrás de escena de como funciona una cadena de bloques. Siga
    adelante,
    realice algunos votos, vea los efectos de sus acciones
    en tiempo real.
    <hr>
    Acceder a : <a href="https://github.com/JuanHoyosC">JuanHoyosC</a>
</div>